# =============================================================
# mysql-ha-lab — Environment Variables
# =============================================================
# Salin file ini menjadi .env sebelum menjalankan docker compose
# cp .env.example .env

# -------------------------------------------------------
# MySQL Root Password
# -------------------------------------------------------
MYSQL_ROOT_PASSWORD=rootpassword

# -------------------------------------------------------
# MySQL Admin User (digunakan oleh InnoDB Cluster & Router)
# -------------------------------------------------------
MYSQL_ADMIN_USER=admin
MYSQL_ADMIN_PASSWORD=adminpassword

# -------------------------------------------------------
# InnoDB Cluster
# -------------------------------------------------------
CLUSTER_NAME=myCluster

# -------------------------------------------------------
# MySQL Router Ports
# -------------------------------------------------------
ROUTER_RW_PORT=6446
ROUTER_RO_PORT=6447

# -------------------------------------------------------
# REST API
# -------------------------------------------------------
API_PORT=8000

# -------------------------------------------------------
# Database connection (digunakan oleh FastAPI)
# Koneksi ke MySQL Router, BUKAN langsung ke mysql1
# -------------------------------------------------------
DB_HOST=mysql-router
DB_RW_PORT=6446
DB_NAME=labdb
DB_USER=admin
DB_PASSWORD=adminpassword
